:root{
    --dark-bg: #27355C;
    --light-bg: #F7F7F7;
    --medium-bg: #cbc8c8;
    --true-answer: #B7F799;
    --grey-mid: #D6D6D6;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--light-bg);
}
.container{
    height: calc(100vh - 50px);
    background-color: var(--light-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
div .card{
    &:hover{
        background-color: var(--medium-bg);
        cursor: pointer ;
    }
}
.quiz--card{
    width: 30rem;
}
.card-body{
    display: flex;
    flex-direction: column;
}

.body-card{
    background-image: url(./assets/img/bg\ b.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card--footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #27355c64;
    padding-top: 1rem;
    align-items: flex-end;
    flex: 1;
}

.bg-success, .bg-danger{
    color: white;
}

.card-end-img{
object-position: center;
object-fit: cover;
width: 100%;
}